body {
    color: #F6FA70;   
}

h1 {
    text-align: center;
    color: #0079FF;
    background-color: #F6FA70;
    padding: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.grid-container {
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
}

.grid-item {
    border: 3px solid #F6FA70;
    background-color: #0079FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 3px;
}
